.videoCard {
  width: 250px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.videoCard__thumbnail {
  height: 140px;
  width: 240px;
}

.videoCard_info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.videoCard_text {
  margin-left: 10px;
}

.videoCard_text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.videoCard_text > p {
  font-size: 14px;
  color: gray;
}

.videoCard__avater {
  height: 30px !important;
  width: 30px !important;
}
